body {
  background: #eee;
  overflow-x: hidden;
}

.progress{
  border: 1px solid #333333;
  transform: rotate(-90deg);
  padding: 5px;
  height: 30px;
}

.health-bar {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 300px;
}
